body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    border: 1px solid black;
    width: 960px;
    height: 960px;
}

.container > div {
    background-color: white;
    border: 1px solid black;
}