body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    border: 1px solid black;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
}

.square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}